.file-explorer {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 10px;
}

.file-explorer h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #888;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
}

.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.file-list li {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 0.9em;
}

.file-list li:hover {
    background-color: var(--hover-color);
}

.file-list li.active {
    background-color: #37373d;
    color: white;
}
