[package]
name = "swiss-emulator"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
tetanes-core = "0.12.2"
getrandom = { version = "0.3.4", features = ["wasm_js"] }
